.counter .title {
    color: #dd7700;
    font-size: 16px;
    font-size: 1.6rem;
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.counter .sq {
    color: #dd7700;
    display: inline-block;
    text-align: center;
    
}
    
.counter .sq .bord {
    border: 1px solid #dd7700;
    padding: 40px 50px;
    margzin-right: 18px;
    text-indent: 0px;
    font-family: 'Helvetica';
    font-size: 18px;
    font-size: 2.2rem;
    margin-top:50px;
    margin-bottom: 50px;
    width: 80px;
    height:80px;
}
.counter .sq span {
    clear: both;
    display: block;
    margin-bottom:25px;
    font-size: 1.6rem;
    font-family: "Helvetica";
}
.bt {
      border: 1px solid #e67e22;
      padding: 10px 30px;
      color: #e67e22;
      text-decoration: none;
      border-radius: 12px;
      margin-right: 15px;
    }
    .hero {
      position: absolute;
      width: 1140px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
 header {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/ca.jpeg);
      heidght: 100wh;
      background-position: center;
      background-size: cover;
      height: 600px;
    }